<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(220, 220, 220)">
	{% include 'navbar.html' %}
	<center>
		<div class="container" style = "margin-top : 50px">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" style="margin-left:15%;width:70%">
					<div class="well well-sm">
						<form class="form-horizontal" action="" method="post">
							{{form.hidden_tag()}}
							<fieldset>
								<legend class="text-center">
									<h1>Edit Event</h1>
								</legend>

								<!--Event Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Event
										Name</label>
									<div class="col-md-9">
										<input id="name" name="name" type="text"
											placeholder="Your event name" class="form-control" {% if event.name %} value = {{event.name}} {% endif %}>
										{% for error in form.errors.name %} <span style="color: red">
											{{ error }} </span> {% endfor %}
									</div>
								</div>

								<!-- Start time input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="Stime">Start
										Time</label>
									<div class="col-md-9">
										<input id="starttime" name="starttime" type="datetime-local"
											class="form-control" {% if event.starttime %} value ={{event.starttime.strftime('%Y-%m-%dT%H:%M')}} {% endif %}> {% for
										error in form.errors.starttime %} <br> <span
											style="color: red"> {{ error }} </span> {% endfor %}
									</div>
								</div>
								<!-- End time input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="Etime">End
										Time</label>
									<div class="col-md-9">
										<input id="endtime" name="endtime" type="datetime-local"
											class="form-control" {% if event.endtime %} value ={{event.endtime.strftime('%Y-%m-%dT%H:%M')}} {% endif %}> 
											{% for error in form.errors.endtime %} <span style="color: red">
											{{ error }} </span> {% endfor %}
									</div>
								</div>

								<!--Event Location input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="location">Location</label>
									<div class="col-md-9">
										<input id="location" name="location" type="text"
											placeholder="Event location" class="form-control" {% if event.location %} value = {{event.location}} {% endif %}>
									</div>
									{% for error in form.errors.location %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>

								<!--Max Team input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="teamMax">Max
										Number of Teams</label>
									<div class="col-md-9">
										<input id="max_team" name="max_team" type="number"
											placeholder="Max teams" class="form-control" {% if event.max_team %} value = {{event.max_team}} {% endif %}>
									</div>
									{% for error in form.errors.max_team %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>

								<!--Max Members input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="memMax">Max
										Members per Team</label>
									<div class="col-md-9">
										<input id="max_member_per_team" name="max_member_per_team"
											type="number" placeholder="Max Members" class="form-control" {% if event.max_member_per_team %} value = {{event.max_member_per_team}} {% endif %}>
									</div>
									{% for error in form.errors.max_member_per_team %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>

								<!--Department input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="dep">Department</label>
									<div class="col-md-9">
										<input id="department" name="department" type="text"
											placeholder="Your Department" class="form-control" {% if event.department %} value = {{event.department}} {% endif %}>
									</div>
									{% for error in form.errors.department %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>

								<!-- Message body -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="message">Event
										Discription</label>
									<div class="col-md-9">
										<textarea class="form-control" id="message" name="description"
											 rows="5"  >{% if event.description %}{{event.description}}{% endif %}</textarea>
									</div>
									{% for error in form.errors.description %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>

								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 text-right">
										<button type="submit" class="btn btn-primary btn-lg">Save</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</center>
</body>
</html>
