<html>
<head>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css">
	
		.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
		
	</style>
</head>
<body>
	{% include 'navbar.html' %}

	<div class="container" style="margin-top: 60px">
      <div class="row">
<!--       <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
		<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
 -->        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hackathon Event</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Event Name:</td>
                        <td>{{event.name}}</td>
                      </tr>
                      <tr>
                        <td>Start:</td>
                        <td>{{event.starttime}}</td>
                      </tr>
                      <tr>
                        <td>End:</td> 
                        <td>{{event.endtime}}</td>
                      </tr>
                       <tr>
                        <td>Max Team:</td> 
                        <td>{{event.max_team}}</td>
                      </tr>
                       <tr>
                        <td>Max Members per team:</td> 
                        <td>{{event.max_member_per_team}}</td>
                      </tr>
                   
          
                      <tr>
                        <td>Location:</td> 
                        <td>{{event.location}}</td>
                      </tr>
                        <tr>
                        <td>Department</td>
                        <td>{{event.department}}</td>
                      </tr>
                      
                      <tr>
                        <td>Description</td>
                        <td>{{event.description}}</td>
                           
                      </tr>
                      <tr>
                        <td>Team Registered: </td>
                        <td> {{event.teams.count()}} <br>
                         {% if event.teams.count() <= event.max_team %}
                        	<a class="btn btn-default" href={{url_for('add_team', event_id=event.id)}}> Add team </a>
                         {% endif %}
                        	</td>
                       
                      </tr>
                     
                    </tbody>
                  </table>
                  
               <!--    <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a> -->
                </div>
              </div>
            </div>
                  <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="{{url_for( 'edit_event', event_id=event.id)}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div> 
            
          </div>
        </div>
      </div>
    </div>
</body>
</html>