<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- <script src="{ url_for('static', filename = 'js/jquery.min.js') }}"></script> -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style>
body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>


 <script type="text/javascript">
 	$(function(){
 		//$('#signupcontainer').hide();
 		//$('#signupcontainer').fadeIn(1200);
 	});
</script>
</head>
<body>
	<!-- <h1>Register</h1>

	{% with messages = get_flashed_messages() %} {% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li> {% endfor %}
	</ul>
	{% endif %} {% endwith %}

	<form action="" method="post" name="register">
		{{form.hidden_tag()}}
		<p>
			Frist Name<br> {{form.first_name(size=50)}}<br> {% for error
			in form.errors.first_name %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>
		<p>
			Last Name<br> {{form.last_name(size=50)}}<br> {% for error
			in form.errors.last_name %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>				
		<p>
			User Name<br> {{form.username(size=50)}}<br> {% for error
			in form.errors.username %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>
		<p>
			Password<br> {{form.password(size=50)}}<br>
			{% for error in form.errors.password %} <span style="color: red">{{
				error }}</span> {% endfor %}
		</p>
		<p>
			Retype Password<br> {{form.password2(size=50)}}<br>
			{% for error in form.errors.password2 %} <span style="color: red">{{
				error }}</span> {% endfor %}
		</p>
		<p>
			<input type="submit" value="Register">
			<input type="reset" value="Reset">
		</p>
		<a href="/login"> Already Have an Login? Click Here to Login </a>
	</form> -->
	<div class="container">
		<div id="signupcontainer" class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Hackathon <small>Have fun!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form action="" method="post" name="register" role="form">
			    			{{form.hidden_tag()}}
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    					{{form.first_name(id="first_name",class="form-control input-sm",placeholder="First Name")}}
			               		<!--  <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name"> -->
			               			{% for error in form.errors.first_name %} <span style="color: red">{{ error }}</span> {% endfor %}
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    					{{form.last_name(id="last_name",class="form-control input-sm",placeholder="Last Name")}}
			    						<!-- <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name"> -->
			    					{% for error in form.errors.last_name %} <span style="color: red">{{ error }}</span> {% endfor %}
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				{{form.username(type="email" ,id="email" ,class="form-control input-sm" ,placeholder="Username")}}
			    				<!-- <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address"> -->
			    				{% for error in form.errors.username %} <span style="color: red">{{ error }}</span> {% endfor %}
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						{{form.password(type="password",id="password",class="form-control input-sm",placeholder="Password")}}
			    						<!-- <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password"> -->
			    						{% for error in form.errors.password %} <span style="color: red">{{ error }}</span> {% endfor %}
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    					{{form.password2(type="password",id="password_confirmation",class="form-control input-sm",placeholder="Confirm Password")}}
			    						<!-- <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password"> -->
			    						{% for error in form.errors.password2 %} <span style="color: red">{{ error }}</span> {% endfor %}
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block">
			    		
			    		</form>
						{% with messages = get_flashed_messages() %} {% if messages %}
						<ul>
							{% for message in messages %}
							<li>{{ message }}</li> {% endfor %}
						</ul>
						{% endif %} {% endwith %}
					</div>
	    		</div>
    		</div>
    	</div>
	</div>
	

</body>
</html>