<html>
<body>
	<h1>Register</h1>

	{% with messages = get_flashed_messages() %} {% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li> {% endfor %}
	</ul>
	{% endif %} {% endwith %}

	<form action="" method="post" name="register">
		{{form.hidden_tag()}}
		<p>
			Frist Name<br> {{form.first_name(size=50)}}<br> {% for error
			in form.errors.first_name %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>
		<p>
			Last Name<br> {{form.last_name(size=50)}}<br> {% for error
			in form.errors.last_name %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>				
		<p>
			User Name<br> {{form.username(size=50)}}<br> {% for error
			in form.errors.username %} <span style="color: red">{{ error
				}}</span> {% endfor %}
		</p>
		<p>
			Password<br> {{form.password(size=50)}}<br>
			{% for error in form.errors.password %} <span style="color: red">{{
				error }}</span> {% endfor %}
		</p>
		<p>
			Retype Password<br> {{form.password2(size=50)}}<br>
			{% for error in form.errors.password2 %} <span style="color: red">{{
				error }}</span> {% endfor %}
		</p>
		<p>
			<input type="submit" value="Register">
			<input type="reset" value="Reset">
		</p>
		<a href="/login"> Already Have an Login? Click Here to Login </a>
	</form>
</body>
</html>