<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:yellow;">
<center>
<h1>Team Detail</h1>

	{% with messages = get_flashed_messages() %} {% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li> {% endfor %}
	</ul>
	{% endif %} {% endwith %}


	<p>
		Team Name: <br> {{team.name}} <br>
	</p>
	<p> Members: <br>
	{% for m in team.members %}
		{{m.member_name}} |
	{% endfor %}
	</p>
	
	<form action="" method="post">
	<p>
		<input type="submit" value="Delete">
	</p>
	</form>
	<a href={{url_for('edit_team', team_id=team.id)}}> Edit </a>
	
	
</center>
</body>
</html>