<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body  style="background-color: rgb(220, 220, 220)">
{% include 'navbar.html' %}
<br>
<br>
<center>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="well well-sm">
				<table><tr height=50px ><h3><th>Team</th><td><b>{{team.name}}</b></td></h3>
				</tr><tr><th style="padding-right: 15px" valign='top'>Members </th>
				<td>
				{% for m in team.members %}
					{{m.member_name}}<br>
				{% endfor %}</td></tr></table>
			</div>
		</div>
	</div>

	{% if user.id == team.user_id %}
	
	<span style="float:right; margin-right:26%">
	<form action="" method="post">
		<input class="btn btn-default" type="submit" value="Delete">
	</form></span>
	<span style="float:right; margin-right:10px">
	<form action={{url_for('edit_team', team_id=team.id)}}>
    	<input class="btn btn-default" type="submit" value="Edit">
	</form></span>
	
	{% endif %}
	
</center>
</body>
</html>