<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>
</head>

<body style="background-color: rgb(220, 220, 220)">
{% include 'navbar.html' %}
<center>
		<div class="container" style = "margin-top : 50px">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" style="margin-left:15%;width:70%">
					<div class="well well-sm">
						<form class="form-horizontal" action="" method="post">
							{{form.hidden_tag()}}
							<fieldset>
								<legend class="text-center"><h1>
									{% if not team %}
									Add Team
									{% else %}
									Edit Team
									{% endif %}
								</h1></legend>

								<!--Team Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Team Name</label>
									<div class="col-md-9">
										{% if team %}
							 			{{form.teamname(value =team.name,id="teamname", class="form-control")}}
							 			{%else %}
							 			{{form.teamname(value="",id="teamname", class="form-control", placeholder="Team name")}}
										{%endif%} 
							 			<span style="color: red">
							 	        {% for error in form.errors.teamname %}<br>
							 	        	{{ error }}
							 	        {% endfor %}</span>
									</div>
								</div>
								
								<!-- Member List -->
								{% for i in range(n) %}
								<div class="form-group">
									<label class="col-md-3 control-label">
									Member {{i+1}}
									</label>
									<div class="col-md-9">
									{% if team and i < team.members.count() %}
									{{form.member(value=team.members[i].member_name, class="form-control")}} 
									{%else %}
									{{form.member(value="", class="form-control", placeholder="Member name")}}
									{%endif%}
									</div>
									{% for error in form.errors.description %} <span
										style="color: red"> {{ error }} </span> {% endfor %}
								</div>
								{% endfor %}

								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 text-right">
										<button type="submit" class="btn btn-primary btn-lg">Save</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</center>	
</body>
</html>